rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

//rules_version = '2';
//service cloud.firestore {
//  match /databases/{database}/documents {
//    match /indications/{id} {
//      allow read, write: if false;
//    }
//    match /registrations/{id} {
//      allow read, write: if false;
//   }
//    match /summary/{id} {
//      allow read: if true;
//      allow write: if false;
//    }
//  }
//}
